/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: whitesmoke;
    line-height: 1.6;
    background: #264653;
    transition: background 0.3s, color 0.3s;
    --font-sm: 0.813em;
    --hero-color: #c6c6c6;
    cursor: none; /* Custom cursor feature */
    
}

header {
    /* background: #333; */
    color: whitesmoke;
    /* padding: 10px 20px; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: 100vh;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: calc(var(--font-sm) + 0.9px);
    padding: 8px 15px !important;
}

.nav-links a:hover {
    color: #E76F51;
}

/* Basic styling for the 3D box */
.three-d-box {
    /* width: 800px; */
    height: 100vh;
    background: linear-gradient(145deg, #264653, #2A9D8F);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    /* border-radius: 10px; */
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    perspective: 1000px; /* Set the perspective for the 3D effect
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    cursor: pointer; */
}




.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 90vh;
    margin-top: 5vh;
    /* background: black; */
    color: #E9C46A;
    text-align: center;
    position: relative;
    overflow: hidden;
    align-items: center;
    font-size: 20px;
    border-radius: 16px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    perspective: 1000px; /* Set the perspective for the 3D effect */
    /* transition: transform 0.5s ease; */
    /* transform: rotateY(20deg) rotateX(15deg); Adjust these values for the desired 3D effect */
    /* transform-style: preserve-3d; */
    cursor: none;
    
}

.hero-title {
    opacity: 1;
    transform: none;
    font-size: 2em;
    font-weight: 500;
    margin: 2rem 0rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 9.9px;
}

.hero-text {
    font-size: calc(var(--font-sm) + 0.9px);
    line-height: 2.3;
    font-weight: 400;
    color: var(--hero-color) !important;
}

.avatar {
    width: 600px;
    padding-top: 5vh;
}

/* .particle-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('particles.svg') repeat;
    opacity: 0.5;
    z-index: -1;
} */

.hero-title {
    animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

.cta-button {
    background: #E76F51;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    transition: background 0.3s;
}

.cta-button:hover {
    background: #ff7043;
}

.about-section {
    /* display: flex; */
    margin: 10vh 10vh;
    height: 75vh;
    width: 100%;
    /* justify-content: center; */
    background: linear-gradient(-45deg, #264653, #2A9D8F);
    color: #fff;
    /* overflow: hidden; */
    font-size: 20px;
    border-radius: 16px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    /* perspective: 1000px; */
    cursor: none;
}

.about-section > h2 {
    opacity: 1;
    transform: none;
    font-size: 2em;
    font-weight: 500;
    margin: 0.5rem 0rem 0.5rem;
    text-transform: uppercase;
    letter-spacing: 9.9px;
    text-align: center;
}

.about-section > p {
    font-size: calc(var(--font-sm) + 0.9px);
    line-height: 2.3;
    font-weight: 400;
    color: var(--hero-color) !important;
    text-align: center;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #264653;
    border-radius: 16px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

.about-item {
    /* padding: 20px; */
    background-color: #E76F51;
    border-radius: 16px;
    width: 40.5vh;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

.about-image {
    width: 80px;
    padding-top: 20px;
}

.about-info {
    text-align: left;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 16px;
}

.skills-list li, .list-two li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
    font-size: 16px; 
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 4px;
}



.about-section, .projects-section, .contact-section {
    padding: 50px 20px;
    /* text-align: center; */
}

/* .skills .skill {
    margin: 20px 0;
} */

/* .progress-bar {
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 20px;
}

.progress-bar span {
    display: block;
    height: 100%;
    background-color: #ff5722;
    animation: grow 2s ease-out;
}

@keyframes grow {
    from { width: 0; }
    to { width: 100%; }
} */

.projects-section {
    background: linear-gradient(145deg, #264653, #2A9D8F);
    color: #fff;
    font-size: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    cursor: none;
}

.projects-section > h2 {
    text-align: center;
    opacity: 1;
    transform: none;
    font-size: 2em;
    font-weight: 500;
    margin: 0.1rem 0rem 1rem;
    text-transform: uppercase;
    letter-spacing: 9.9px;
}

.projects-section h3 {
    text-align: center;
    margin-top: -15vh;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-item {
    background: #E76F51;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: 70%;
    height: 150px;
    /* background-size: cover; */
    /* background-position: center; */
}


.project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
}

.project-info img {
    width: 95%;
    height: auto;
    padding-bottom: 20px;
}

.project-info a {
    font-size: medium;
    margin-bottom: 20px;
}

.contact-section h2 {
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column; /* Stack form elements vertically */
    align-items: center;
}

.contact-form input, .contact-form textarea {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 16px;
    
}

.submit-button {
    background: #E9C46A;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-button:hover {
    background: #2A9D8F;
}

.footer {
    background: #E9C46A;
    color: #fff;
    padding: 10px 0;
}

.footer-content {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 15px;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-icon {
    color: #fff; 
    font-size: 24px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #F4A261;
}

.theme-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.theme-toggle:hover {
    color: #ff5722;
}

.dark-mode {
    background: #CCD5AE;
    color: black;
}

.dark-mode .header, .dark-mode .footer {
    background: #D4A373;
}

.dark-mode .hero-section {
    background: #E9EDC9;
}

.dark-mode .three-d-box, .dark-mode .projects-section {
    background: #E9EDC9;
}

.dark-mode .about-section {
    background: #D4A373;
    color: black;
}

.dark-mode .about-grid {
    background: #FAEDCD;
}

.dark-mode .about-item, .dark-mode .project-item {
    background: #FEFAE0;
    color: black;
}

.dark-mode .projects-section {
    color: black;
}


/* Media query for small screens (mobiles) */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
    }

    .nav-links {
        margin-left: 0;
        flex-direction: column;
        text-align: center;
    }

    .hero-section {
        width: 100%;
        height: auto;
        margin-top: 10vh;
    }

    .hero-title {
        font-size: 1.5em;
        letter-spacing: 5px;
    }

    .hero-text {
        font-size: 1em;
        line-height: 1.8;
    }

    .about-section {
        margin: 5vh 0;
        height: auto;
    }

    .about-grid {
        grid-template-columns: 1fr;
    }

    .about-item {
        width: auto;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .contact-form input, .contact-form textarea {
        width: 90%;
    }
}

/* Media query for medium screens (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
    .nav-links {
        margin-left: 0;
        justify-content: center;
    }

    .hero-section {
        width: 80vh;
        height: auto;
        margin-top: 10vh;
    }

    .about-section {
        margin: 5vh 5vh;
        height: auto;
    }

    .about-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .contact-form input, .contact-form textarea {
        width: 70%;
    }
}

/* Media query for large screens (desktops) */
@media (min-width: 1025px) {
    .navbar {
        justify-content: space-between;
    }

    .nav-links {
        margin-left: 100vh;
    }

    .hero-section {
        width: 90vh;
        height: 80vh;
    }

    .about-section {
        margin: 10vh 10vh;
    }

    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .contact-form input, .contact-form textarea {
        width: 50%;
    }
}



/* Custom Cursor Style */
.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 87, 34, 0.8);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s, background-color 0.2s, transform 0.1s;
    z-index: 9999;
}

/* Cursor grows when hovering over interactive elements */
.hover-effect {
    width: 40px !important;
    height: 40px !important;
    background-color: rgba(255, 87, 34, 0.5) !important;
}
